<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品介绍</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/page.css"/>
		<link rel="stylesheet" type="text/css" href="css/pro_details.css"/>
		<!--<link rel="stylesheet" type="text/css" href="css/pro_details.css"/>-->
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--head start-->
		<div id="head">
		
			<div class="head-container">
				<div class="head-left">
					<span>欢迎来到国平商城！</span>
					<div class="login">
						<span>Hi					
						</span>
						<a href="login.html">请登陆</a>
					</div>
					<a href="register.html">免费注册</a>
				</div>
				<div class="head-right">
					<ul>
						<li>服务热线：020-66666666</li>
						<li><a href="javascript:;"><span class="head-right-nav-left"></span>网站导航<span class="head-right-nav-right"></span></a></li>
						<li ><a href="user.html" ><span class="vip"></span>会员中心</a></li>
						<li ><a href="order.html" ><span class="my-order"></span>我的订单</a></li>
						<li><a href="user.html">我的国平<span class="my-gp"></span></a></li>
						
					</ul>
				</div>
			</div>
		</div>
		<!--head end-->
		<!--logo start-->
		<div id="logo">
			<div class="logo">
				<a href="index.html"><img src="img/logo.png"/></a>
			</div>
			<div class="search">
				<div class="seek">
					<div class="seek-s">
						<div class="classify"><a href="javascript:;">全部分类<span></span></a></div>
						<input type="text" />
						<button><a href="javascript:;">搜索</a></button>
					</div>
					<div class="boon"><a href="javascript:;"><span></span>福利</a></div>
					<div class="send"><a href="javascript:;"><span></span>全区送货上门</a></div>
					<div class="cart"><a href="shop_cart.html"><span></span>购物车</a></div>
				</div>
				<div class="hotsearch">热门搜索 ：&emsp;<a href="shop_list.html">汽车装饰</a><a href="shop_list.html">汽车配件</a><a href="shop_list.html">汽车车载</a><a href="shop_list.html">汽车保养</a></div>
			</div>
		</div>
		<!--nav-->
		<div id="nav">
			<div class="nav">
				<ul>
					<li class="sort">
						<a href="shop_list.html" class="ify">商品服务分类</a>
						<div class="menu">
							<ul>
								<li class="hot-sale" @mouseenter=""><h4><span></span>热卖推荐</h4>
									<a href="javascript:;">驾乘个人用品</a>
									<a href="javascript:;">外饰加装</a>
									<a href="javascript:;">防护</a>
									<a href="javascript:;">车载手机支架</a>
									<a href="javascript:;">打气筒</a>
								</li>
								<li class="drive-gear"><h4><span></span>传动系配件</h4>
									<a href="javascript:;">飞轮</a>
									<a href="javascript:;">压盘</a>
									<a href="javascript:;">离合器片</a>
									<a href="javascript:;">轮毂</a>
									<a href="javascript:;">变速器</a>
									<a href="javascript:;">变速换挡操纵机构</a>
								</li>
								<li class="brake"><h4><span></span>制动系配件</h4>
									<a href="javascript:;">制动总泵</a>
									<a href="javascript:;">制动分泵</a>
									<a href="javascript:;">刹车盘</a>
									<a href="javascript:;">真空助力器</a>
									<a href="javascript:;">制动踏板总成</a>
								</li>
								<li class="steering"><h4><span></span>转向系配件</h4>
									<a href="javascript:;">转向节</a>
									<a href="javascript:;">方向机</a>
									<a href="javascript:;">方向柱</a>
									<a href="javascript:;">方向盘</a>
									<a href="javascript:;">转向拉杆</a>
								</li>
								<li class="oil"><h4><span></span>燃油系配件</h4>
									<a href="javascript:;">飞轮</a>
									<a href="javascript:;">压盘</a>
									<a href="javascript:;">离合器片</a>
									<a href="javascript:;">轮毂</a>
									<a href="javascript:;">变速器</a>
									<a href="javascript:;">变速换挡操纵机构</a>
								</li>
								<li class="instrument"><h4><span></span>电气仪表系配件</h4>
									<a href="javascript:;">转向节</a>
									<a href="javascript:;">方向机</a>
									<a href="javascript:;">方向柱</a>
									<a href="javascript:;">方向盘</a>
									<a href="javascript:;">转向拉杆</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="index.html">首页</a></li>
					<li><a href="#sale">团购</a></li>
					<li><a href="#sale">限时购买</a></li>
					<li><a href="#sale">最新产品</a></li>
					<li><a href="#sale">每日精选</a></li>
					<li><a href="#sale">热门购买</a></li>
				</ul>
			</div>
		</div>
	<!--head end-->
		<!--place start        当前所在位置-->
		<div id="place">
			<ul>
				<li>全部<span>&gt;</span></li>
				<li><a href="#">汽车用品</a><span>&gt;</span></li>
				<li><a href="#">汽车装饰</a><span>&gt;</span></li>
				<li><a href="#">方向盘套</a><span>&gt;</span></li>
				<li><a href="#">信吾（xinwu）</a><span>&gt;</span></li>
				<li class="active">适用宝马5系运动方向...</li>
				<li><input type="text" placeholder="在当前状态下搜索"/><em></em></li>
			</ul>
			<p>相关商品<span>6113</span>件</p>
		</div>
		<!--place end-->
		<!--details start-->
		<div id="details">
			<div class="details-l">
				<div>
					<div class="img"><img :src="titleImg" ref="img"/><div></div></div>
					<ul>
						<li class="active" ref="lis" @click="cut($event)" v-for="item in img"><img :src="item"/></li>
						<!--<li ref="li2" @click="cut"><img src="img/details-2.png"/></li>
						<li ref="li3" @click="cut"><img src="img/details-3.png"/></li>-->
					</ul>
				</div>
				<p><span><em></em>关注</span><span><em></em>分享</span><span>举报</span></p>
			</div>
			<div class="details-r" >
				<h4>适用宝马5系运动方向盘 F18 M6运动方向盘 M5方向盘多功能方向盘 方向盘+气囊</h4>
				<p><i>M方向盘 手感舒适</i></p>
				<div><span>零售价：</span><strong><i>￥</i>32385.00</strong><div><span>累计评价</span><i>1.8万+</i></div></div>
				<div><span>物流：</span><div><p>广东广州市天河区</p><u></u></div><em>有货</em></div>
				<div><span>成交：</span>
					<p>
						<em></em>
						<em></em>
						<em></em>
						<em></em>
						<em></em>
					</p>
					<i>6542</i><span>个成交</span>
				</div>
				<div>
					<span>选择颜色：</span>
					<div :class="{active:active}" @click="check"><p><img src="img/details-1.png" /></p><b>方向盘+气囊</b></div>
					<div :class="{active:!active}" @click="check1"><p><img src="img/details-1.png" /></p><b>拆装+编程工时</b></div>
				</div>
				<div>
					<span>产品数量：</span>
					<ul>
						<li :class="{color:!onoff,cursorP:onoff}"  @click="subNum">-</li>
						<li class="bgcolor"><input type="text" v-model="num" onkeyup="value=value.replace(/[^\d]/g,'')"/></li>
						<li class="cursorP" @click="addNum">+</li>
					</ul>
					<span></span>
				</div>
				<div class="submit">
					<button>立即购买</button>
					<button><em></em>加入购物车</button>
				</div>	
				<span>温馨提示&nbsp;·&nbsp;支持7天无理由退货</span>
			</div>
		</div>
		<!--details end-->
		<!--pro_details start-->
		<div id="pro_details">
			<dl class="hot">
				<dt>热门关注</dt>
				<dd>
					<div>
						<img src="img/discuss1.png"/>
					</div>
					<p>
						<strong>1</strong>
						<span>热销918件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss2.png"/>
					</div>
					<p>
						<strong>2</strong>
						<span>热销911件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss3.png"/>
					</div>
					<p>
						<strong>3</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss4.png"/>
					</div>
					<p>
						<strong>4</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss5.png"/>
					</div>
					<p>
						<strong>5</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss6.png"/>
					</div>
					<p>
						<strong>6</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss7.png"/>
					</div>
					<p>
						<strong>7</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss8.png"/>
					</div>
					<p>
						<strong>8</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss9.png"/>
					</div>
					<p>
						<strong>9</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
				<dd>
					<div>
						<img src="img/discuss10.png"/>
					</div>
					<p>
						<strong>10</strong>
						<span>热销998件</span>
						<i>￥34.25</i>
					</p>
				</dd>
			</dl>
			<template id="details">
			<div class="pro_details">
				<h3>
					<div :class="{active:onoff}"><a href="#details">产品介绍</a></div>
					<div :class="{active:!onoff}"><a href="#valute">评论 1.8万+</a></div>
					<div>规格及包装</div>
					<div>销后服务</div>
					<button>加入购物车</button>
				</h3>
				<div v-show="onoff" class="bbf">
					<div>
						<h6>品牌： 信吾（xinwu）</h6>
						<span>商品名称：适用宝马5系运动方向盘...</span>
						<span>商品编号：15570275950</span>
						<span>商品毛重：1.0kg</span>
						<span>类别：其它</span>
						<span>表层主材质：其他 </span>
						<span>风格：运动   </span>
						<span>季节：其它</span>
					</div>
					<ul>
						<li><img src="img/pro_details_01.png"/></li>
						<li><img src="img/pro_details_02.png"/></li>
						<li><img src="img/pro_details_03.png"/></li>
						<li><img src="img/pro_details_04.png"/></li>
						<li><img src="img/pro_details_05.png"/></li>
						<li><img src="img/pro_details_06.png"/></li>
					</ul>
				</div>
				<div v-show="!onoff" class="discuss">
					<h3 class="bdcolor">
						<p>
							商品评价
						</p>
					</h3>
					<h4>
						<div>好评度
							<em>
								96%
							</em>
						</div>
					</h4>
					<h5>
						<ul>
							<li class="active1">全部评价(1.8万+)</li>
							<li>晒图(500)</li>
							<li>追评(40+)</li>
							<li>好评(1.7万+)</li>
							<li>中评(500+)</li>
							<li>差评(100+)</li>
						</ul>
						<div><input type="checkbox"/>只看当前商品评价</div>
						<p>推荐排序<em></em></p>
					</h5>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-1.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>为凑单选择了这款方向盘套，装上觉得很厚！用段时间看看，39有真皮？我还在想???</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-2.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>为凑单选择了这款方向盘套，装上觉得很厚！用段时间看看，39有真皮？我还在想???</p>
						<p><em><img src="img/dis-r-1.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-3.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span class="kx"></span></p>
						<p>是真皮的，过程虽然有点曲折，结果也算美丽。</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-4.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>缝了一个小时才弄好，立马高大上了，真皮上档次，很好，给老板赞一个</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-5.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>感觉不错，很实用，没有味道，是牛皮的，防滑耐磨透气，挺好！</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-6.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>方向盘套质量很好，装上后手感也很好，很软。第一次缝方向盘套，可能是水平不行......</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-1.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>质量挺好的，颜色也是喜欢的，自己手工缝的，还不错</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-3.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>为凑单选择了这款方向盘套，装上觉得很厚！用段时间看看，39有真皮？我还在想???</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				<div>
					<div class="discuss-l">
						<div><img src="img/photo-4.png" /></div>
						<span> 3***2</span>
					</div>
					<div class="discuss-r">
						<p><span></span><span></span><span></span><span></span><span></span></p>
						<p>为凑单选择了这款方向盘套，装上觉得很厚！用段时间看看，39有真皮？我还在想???</p>
						<p><em><img src="img/dis-r-1.png"/></em><em><img src="img/dis-r-2.png"/></em></p>
						<div>
							<dl>
								<dt>A026黑色 2017-07-23 19:39</dt>
								<dd><a href="javascript:;"><img src="img/xiaoxi.png"/></a><i>0</i></dd>
								<dd><a href="javascript:;"><img src="img/zan.png"/></a><i>48+</i></dd>
								<dd>举报</dd>
							</dl>
						</div>
					</div>
				</div>
				</div>
			</div>
			</template>
		</div>
		<!--pro_details end-->
		
		<!--footer-->
		<div id="footer">
			<div>
				<dl>
					<dt><a href="register.html">新手指南</a></dt>
					<dd><a href="register.html">会员制度</a></dd>
					<dd><a href="register.html">注册新用户</a></dd>
					<dd><a href="register.html">买家入门</a></dd>
					<dd><a href="register.html">卖家入门</a></dd>
					<dd><a href="register.html">用户协议</a></dd>
				</dl>
				<dl>
					<dt><a href="javascript:;">配送说明</a></dt>
					<dd><a href="javascript:;">配送范围</a></dd>
					<dd><a href="javascript:;">配送时间</a></dd>
					<dd><a href="javascript:;">配送运费</a></dd>
					<dd><a href="javascript:;">配送安全</a></dd>
				</dl>
				<dl>
					<dt><a href="javascript:;">支付方式</a></dt>
					<dd><a href="javascript:;">送货上门</a></dd>
					<dd><a href="javascript:;">在线支付</a></dd>
					<dd><a href="javascript:;">线下付款</a></dd>
				</dl>
				<dl>
					<dt><a href="javascript:;">售后服务</a></dt>
					<dd><a href="javascript:;">服务承诺</a></dd>
					<dd><a href="javascript:;">退换货政策</a></dd>
					<dd><a href="javascript:;">提货货流程</a></dd>
					<dd><a href="javascript:;">退款说明</a></dd>
				</dl>
				<dl>
					<dt><a href="javascript:;">服务保障</a></dt>
					<dd><a href="javascript:;">真品防伪</a></dd>
					<dd><a href="javascript:;">20天无条件退货</a></dd>
					<dd><a href="javascript:;">7*12小时贴心服务</a></dd>
					<dd><a href="javascript:;">卖家入门</a></dd>
					<dd><a href="javascript:;">绑定支付宝</a></dd>
				</dl>
				<dl>
					<dt><a href="javascript:;">关于我们</a></dt>
					<dd><a href="javascript:;">了解国平网</a></dd>
					<dd><a href="javascript:;">招兵买马</a></dd>
					<dd><a href="javascript:;">联系我们</a></dd>
					<dd><a href="javascript:;">隐私声明</a></dd>
					<dd><a href="javascript:;">友情链接</a></dd>
				</dl>
				<dl class="QR">
					<dt><a href="javascript:;">微信公众号二维码</a></dt>
					<dd><img src="img/ewm.png"/></dd>
				</dl>
			</div>
			<div class="copyright">
				<p>© 国平网 2017-2018 GuoPingWang.com.cn All Rights Reserved 渝ICP备12001769号-1 1</p>
				<p><a href='javascript:;'>关于国平网</a>   |  <a href='javascript:;'>联系我们 </a> |  <a href='javascript:;'>欢迎合作</a>  |  <a href='javascript:;'>著作权与商标声明 </a> |  <a href='javascript:;'>法律声明</a>  |  <a href='javascript:;'>服务条款</a>  |  <a href='javascript:;'>隐私声明</a>  </p>
			</div>
		</div>
		<!--footer end-->
		
		<script src="js/pro_details.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html> 